@charset "UTF-8";


#navbar { 
    /*position: fixed;*/
}

.container-header.index {
	position: absolute;
    background-color: transparent;
    box-shadow: none;
    z-index: 1;
}

/* Head */

.head {
  position: relative;
  background: url(../img/index/pattern.png) no-repeat center;
  background-size: cover;
  /*height: 700px;*/
  padding: 10% 0 3%;
}
    .head #backgr {
        background: linear-gradient(to bottom, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .05) 50%), url(../img/index/back-1.jpg) no-repeat 0% 30%;
        background-size: cover;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

.head h1 {
    color: #565555;
    background: url(../img/index/title.png) no-repeat center;
	/*background-size: contain;*/
    text-align: center;
    padding: 80px 20px 60px;
}

.head img {
    display: inline;

}

.head img.left {
    position: absolute;
    float: left;
    top: 36%;
    left: 27%;
}

.head img.right {
    position: absolute;
    float: right;
    top: 36%;
    right: 27%;
}

@media (max-width: 992px) { 
  .head img.left {
    left: 10%;
  }
  .head img.right {
    right: 10%;
  }
}
@media (max-width: 480px) { 
  .head img.left, .head img.right {
    display: none;
  }
}

.head .btn {
    margin-top: 4%;
}

/* About & Review*/

.about, .review {
    position: relative;
    padding: 120px 20px;
    background:  #fff;
    display: block;
    overflow: hidden;
}

hr {
  content: '';
  display: block;
  position: absolute;
  background: #d1edab;
  border: 0;
  overflow: visible;
}

hr.vert-line {
  margin-right: 40px;
  height: 100px;
  width: 5px;
  left: -45px;
  bottom: -45px;
}

hr.hor-line {
  margin-top: 35px;
  height: 5px;
  width: 100px;
  left: -45px;
}

.corner {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    right: 0;
    bottom: 0px;
    border-top: 120vw solid transparent;
    border-right: 60vw solid #e4eccc;
   /* background: linear-gradient(to bottom, #fefad9, #e4eccc); */
   overflow: hidden;
    z-index: 0;
}

.about .content-center, .review .content-center{
    position: relative;
    display: block;
    z-index: 1;
}

.about p {
  font-size: 24px;
  color: #403f3f;
}

.about img {
  position: relative;
  display: block;
  margin-left: 5vw;
  margin-bottom: -150px;
}
@media (min-width: 480px) and (max-width: 992px) {
  .about img {
    margin-left: 40vw;
  }
}

@media (max-width: 480px) {  
  .about p {
    font-size: 18px;
  }
}

/* Review */

.review-caption {
  position: relative;
  display: block;
  z-index: 1;
  background: #fff;
}

.review-caption h2 {
    color: #403f3f;
    padding-bottom: 70px;
}

.review p {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: #403f3f;
  padding-bottom: 40px;
}

.review span {
  font-size: 16px;
  font-weight: 500;
  color: #767875;
  margin-top: 50px;
}

.review svg {
  position: relative;
  left: -20px;
  margin-bottom: 20px;
  width: 120px;
}

.review img.stars {
  position: absolute;
  display: inline;
  bottom: 0;
  right: 0;
}

.review img.photo {
  position: relative;
  display: block;
  margin-left: 5vw;
  margin-bottom: -35px;
}

@media (max-width: 992px) {
  .review img.photo  {
    margin-left: 40vw;
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .review p {
    font-size: 16px;
  }
  .review span {
    font-size: 14px;
  }
  .review img.photo  {
    width: 50%;
  }
  .review img.stars  {
    width: 40%;
  }
}

/* Advantages */

.advantages {
    position: relative;
    padding: 180px 20px 150px;
    background:  #fff;
}

.advantages h2 {
    color: #403f3f;
    padding-bottom: 100px;
}

.advantages img {
  position: relative;
  display: inline-block;
  margin: auto 20px;
  vertical-align: bottom;
}

.advantages span {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  color: #403f3f;
  padding: 40px 10px;
  text-align: center;
}

.advantages p {
  color: #403f3f;
  padding-bottom: 40px;
  text-align: center;
}

/* Popular categories */

.popular-categories {
    position: relative;
    padding: 180px 20px 120px;
    background:  #fff;
}

.popular-categories h2 {
    color: #403f3f;
    padding-bottom: 100px;
}

.popular-categories img {
	display: block;
	width: 90%;
	box-shadow: inset 0px 5px 9px rgba(0,0,0,.15);
	box-shadow: 0px 3px 20px rgba(0,0,0,.07);
	margin: auto 20px;
}

.popular-categories .border {
  position: relative;
  width: 90%;
  border-bottom: 46px solid #565555;
  border-bottom-left-radius: 3px; 
  border-bottom-right-radius: 3px; 
  margin: -46px 20px 40px;
  z-index: 0;
}
.popular-categories span {
	position: absolute;
	display: inline;
	font-size: 20px;
	font-weight: 500;
  color: #fff;
  margin-top: -6px;
	padding: 15px;
	z-index: 1;
}

.popular-categories .btn {
  margin-top: 60px;
}
@media (max-width: 992px) {  
  .popular-categories img {
      width: 60%; 
      margin: 0 auto;
  }
  .popular-categories .border {
      width: 60%; 
      margin: -46px auto 30px;
  }
}

@media (max-width: 480px) {  
  .popular-categories img {
      width: 100%;
  }
  .popular-categories .border {
      width: 100%;
  }
  .popular-categories {
    padding: 90px 20px 60px;
  }
  .popular-categories h2 {
    padding-bottom: 60px;
  }
  .popular-categories span {
    font-size: 16px;
    margin-top: 0px;
  }
}

/* Contacts */

.contacts {
    position: relative;
    padding: 120px 40px 80px;
    background:  #fff;
}

.contacts svg {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.contacts h2 {
    color: #403f3f;
    padding-bottom: 80px;
}
.contacts h3 {
    display: inline-block;
    color: #565555;
    padding-right: 10px;
    padding-bottom: 10px;  
}
.contacts p {
    color: #565555;
    margin-bottom: 40px;
}
.contacts a {
    display: inline-flex;
    font-size: 26px;
    font-weight: 600;
}

.change-profile .btn.green {
    margin-right: 0;
}

@media (max-width: 480px) {  
  .contacts {
    padding: 60px 20px 20px;
  }
  .contacts svg {
    width: 32px;
    height: 32px;
  }
  .contacts h2 {
    padding-bottom: 40px;
  }
  .contacts a { 
    font-size: 20px;
  }
}


