@charset "UTF-8";

#navbar { 
    background-color: transparent;
    z-index: 1;
    position: fixed;
}

.container-header.index {
    box-shadow: none;
}

/* Block-1 */

.head {
  position: relative;
  background: url(../img/index/pattern.png) no-repeat center;
  background-size: cover;
  /*height: 700px;*/
  padding: 8% 0 3%;
}
    .head #backgr {
        background: linear-gradient(to bottom, rgba(255, 255, 255, .75) 0%, rgba(255, 255, 255, .05) 50%), url(../img/index/back-1.jpg) no-repeat 0% 40%;
        background-size: cover;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

.head h1 {

    font-size: 42px;
    font-weight: 500;
    color: #403f3f;
    background: url(../img/index/title.png) no-repeat center;
    text-align: center;
    padding: 80px 20px 60px;
}

.head img {
    display: inline;

}

.head img.left {
    position: absolute;
    float: left;
    top: 36%;
    left: 27%;
}

.head img.right {
    position: absolute;
    float: right;
    top: 36%;
    right: 27%;
}

@media (max-width: 992px) { 
  .head img.left {
    left: 10%;
  }
  .head img.right {
    right: 10%;
  }
}
@media (max-width: 480px) { 
  .head h1 {
    font-size: 26px;
  }
  .head img.left, .head img.right {
    display: none;
  }
}

.head .btn {
    margin-top: 4%;
}



